.container-fluid {
    margin: 0;
    padding: 32px 0 0;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
}

.search-container > div {
    width: 100%;
}

.search-container > div > div {
    display: flex;
}

.search-container > div > div > .form-control {
    margin-right: 8px;
    flex-grow: 1;
}